<main>
    <div class="main">
    <section id="about">
        <div class="aboutus">
        <h2>About Us</h2>
    </div>
  
    <div class="para">
            
        <p class="p">  At AbsenceSync, we are dedicated to revolutionizing the way businesses manage employee leave. Our innovative leave management system is designed to streamline the entire 
            process of requesting,approving, and tracking leave, ensuring a seamless experience for both employees and managers. brBy automating leave management, we help organizations reduce administrative burdens, minimize errors, and enhance overall productivity.

            AbsenceSync offers a user-friendly platform that supports a healthy work-life balance, empowering employees to take the time they need while maintaining operational efficiency. Employees can easily submit leave requests through an intuitive interface, specifying details such as leave type, duration, and reason. Managers receive instant notifications for new leave requests and can approve or reject them with a single click, thanks to our efficient approval workflow that supports multi-level approvals.
            
            Our system provides clear visibility into leave balances and history for both employees and managers, automatically updating leave balances based on approved requests. Automated email notifications keep everyone informed about the status of leave requests, and reminders for upcoming leaves help managers plan and allocate resources effectively.
            
            AbsenceSync also includes powerful reporting and analytics features, allowing organizations to generate detailed reports on leave usage, trends, and patterns. These insights help identify areas for improvement and ensure compliance with leave policies.
            
            In summary, AbsenceSync is designed to create a seamless and efficient leave management experience, reducing administrative overhead, enhancing productivity, and supporting a healthy work-life balance for employees. Our mission is to provide a robust and user-friendly platform that empowers organizations to manage employee leave with ease and precision.</p>
       
        </div>

    </section>
</div>
   
        <div class="team">
            <div class="our_team">
        <h2>Our Team</h2>
    </div>
        <div class="team-member">
            <img src="./assets/sujal.jpg" alt="Sujal" height="70%">
            <div class="info">
            <h3>Laxman Gurav</h3>
            <p>Founder & Documentation</p>
        </div>
        </div>
        <div class="team-member1">
            <img src="./assets/B.jpg" alt="Bhags" height="70%">
            <h3>Bhagyalaxmi Bamungi</h3>
            <p>Full Stack Developer</p>
            <p></p>
        </div>
        <div class="team-member2">
            <img src="./assets/rahul.jpg" alt="rahul" height="70%">
            <h3>Rahul Kate</h3>
            <p>Developer</p>
        </div>
    </div>
        <!-- Add more team members as needed -->
  
</main>

