
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004d99;
  height: 1.5cm;
  /* padding: px 20px; */
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 2.5%;
  left: 1%;
}

.nav-links {
  list-style: none;
 position: absolute;
 right: 2%;
 font-size: 24px;
}

.nav-links li {
  margin-left: 15px;
  font-size: 24px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #110e04;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  border: 1px solid #ddd; /* Add border to the entire table */
}

thead {
  background-color: #bdddeb;
}

thead th {
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid #060505;
  border: 2px solid #090808; /* Add border to table headers */
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody td {
  padding: 12px;
  border: 1px solid #ddd; /* Add border to table cells */
}

button {
  padding: 8px 16px;
  margin: 4px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  opacity: 0.8;
}

button.accept {
  background-color: #4CAF50; /* Green */
}

button.reject {
  background-color: #f44336; /* Red */
}

button.accept:focus,
button.reject:focus {
  outline: none;
}

table th,
table td {
  text-align: center;
}
